@tailwind base;
@tailwind components;
@tailwind utilities;

.section-height {
  min-height: 90vh;
}
.footer-height {
  height: 10vh;
}

@layer base {
  body {
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-heading;
  }
}

.imageSpan {
  background-image: url('/images/services2.jpg');
  height: 100%; /* background-color: #1e2a43; */
  background-size: cover;
  background-position: center;
}
