@tailwind base;
@tailwind components;
@tailwind utilities;

.section-height {
  min-height: 90vh;
}
.footer-height {
  height: 10vh;
}

@layer base {
  body {
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-heading;
  }
  .btn-filter {
    @apply mr-2 min-w-[5rem] cursor-pointer rounded-md border-2 border-warning bg-transparent py-2 px-4 text-sm font-bold text-warning active:bg-warning active:text-black md:mr-4 lg:mr-8;
  }
  .active {
    @apply bg-warning text-black;
  }
}

.imageSpan {
  background-image: url('/images/services2.jpg');
  height: 100%; /* background-color: #1e2a43; */
  background-size: cover;
  background-position: center;
}

/* .grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
} */
